---
import Countdown from '../../components/Countdown.jsx';
---

<div
  class="dark text-muted text-center text-sm bg-blue-900 dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap justify-center items-center"
>
  <Countdown />

  <a
    href="https://gosimaiparis.eventbrite.com/"
    class="text-muted hover:underline dark:text-slate-50 font-medium text-center"
  >
    Get <span class="font-bold text-yellow-200">Early Bird Tickets</span>, On Sale Now! »
  </a>
</div>
