---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import gosimMission from '~/assets/images/gosim-global.png';
---

<div class="grid sm:grid-cols-2 gap-10 mx-auto mt-2 pt-20 pb-16 bg-indigo-50">
  <div class="relative order-2 sm:order-1">
    <div class="absolute hidden md:block w-96 h-96 bg-purple-100 rounded-full right-0 top-1/3 -z-10"></div>
    <div class="absolute hidden md:block w-44 h-44 bg-purple-100 rounded-full left-10 top-1/4 -z-10"></div>

    <Image
      format="avif"
      src={gosimMission}
      alt="Happy Team"
      class="rounded-xl w-full max-w-md mx-auto shadow-2xl"
      loading="lazy"
    />
  </div>
  <div class="place-self-center order-1 sm:order-2 px-6 sm:px-0">
    <h3 class="text-5xl text-center md:text-start text-gray-800 tracking-tight -mt-2">
      <span class="text-indigo-600"><strong>GOSIM</strong></span>
      {' '}
      Mission
    </h3>
    <p class="text-lg max-w-xl mt-4 leading-relaxed text-slate-500">
      GOSIM is an inclusive gathering designed to provide a welcoming space for open-source AI projects, both large and
      small, to share knowledge, learn from each other, and collaborate. It serves as a hub where developers,
      researchers, enthusiasts, and industry sponsors can come together to exchange ideas, refine their work, and form
      meaningful connections. This year in Paris, GOSIM AI 2025 is committed to amplifying voices from diverse
      backgrounds, fostering a truly collaborative environment that strengthens the global open-source AI community.
      Industry sponsors play a vital role in this effort by supporting open-source initiatives, offering resources, and
      bridging the gap between enterprise and community-driven innovation. This year in Paris, we are taking it even
      further—expanding conversations, forging new partnerships, and redefining what it means to innovate in AI.
    </p>
    <ul class="grid mt-4 text-left gap-y-4">
      <li class="flex items-center gap-3 text-slate-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-slate-600">Fostering Global Collborations</span>
      </li>

      <li class="flex items-center gap-3 text-slate-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-slate-600">Showcasing Early Stage Innovations</span>
      </li>

      <li class="flex items-center gap-3 text-slate-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-slate-600">Networking with the Academia and the Industries </span>
      </li>
    </ul>
  </div>
</div>
