---
import { Icon } from 'astro-icon/components';
---

<section class="bg-yellow-30 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-lg text-left font-light"> <!-- Changed text-md to text-base -->
    <span>
      <Icon name="tabler:info-square" class="w-5 h-5 inline-block align-text-bottom" /> </span
    > 
    <span class="font-semibold">GOSIM</span>  (Global Open-Source Innovation Meetup) is an inclusive gathering designed to provide a welcoming space for open-source AI projects, both large and small, to share knowledge, learn from each other, and collaborate. It serves as a hub where developers, researchers, enthusiasts, and industry sponsors can come together to exchange ideas, refine their work, and form meaningful connections. This year in Paris, GOSIM AI 2025 is committed to amplifying voices from diverse backgrounds, fostering a truly collaborative environment that strengthens the global open-source AI community. Industry sponsors play a vital role in this effort by supporting open-source initiatives, offering resources, and bridging the gap between enterprise and community-driven innovation. This year in Paris, we are taking it even further—expanding conversations, forging new partnerships, and redefining what it means to innovate in AI.
  </span>

  </div>


</section>