---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import adora2pro from '~/assets/images/product/adora-2-pro-white.png';
import Hero from '~/components/widgets/Hero.astro';
---

<div class="grid sm:grid-cols-2 gap-10 mx-auto mt-2 pt-20 pb-16">
  <div class="relative order-2 sm:order-2">
    <Image
      format="avif"
      src={adora2pro}
      alt="Adora2 Pro"
      loading="lazy"
    />
  </div>
  <div class="place-self-center order-1 sm:order-1 px-6 sm:px-0">
    <h3 class="text-2xl text-center md:text-start text-gray-800 tracking-tight -mt-2">
      <span class="text-gray-600"><strong>ADORA2 Pro</strong></span>
      {' '}
    </h3>
    <p class="text-lg max-w-sm mt-4 leading-relaxed text-slate-500">
     三轮升降臂机器人ADORA2 Pro采用小巧的底盘，增强了狭窄环境的通过性，搭载6或7自由度机械臂、4路视觉传感器、激光雷达、麦克阵列、触摸显示屏等组件，特别适用于室内具身智能数据采集、自动化应用部署及语音视频交互智能化任务执行，广泛应用于科研教育机构、企事业单位的机器人相关研究、AI算法验证以及教学培训实践。

    </p>
    <ul class="grid mt-4 text-left gap-y-4">
      <li class="flex items-center gap-3 text-slate-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-slate-600">小巧三轮底盘运动灵活</span>
      </li>

      <li class="flex items-center gap-3 text-slate-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-slate-600">配四路相机和激光雷达</span>
      </li>

      <li class="flex items-center gap-3 text-slate-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-slate-600">语音和视频多模态交互</span>
      </li>
            <li class="flex items-center gap-3 text-slate-800">
        <Icon name="ph:check-circle-fill" class="w-5 h-5" />

        <span class="text-slate-600">具身智能科研生态支持</span>
      </li>
    </ul>
    <Hero
    actions={[
      {
        variant: 'primary',
        text: '了解更多',
        //text: 'Get Yours',
        href: '/#order',
        icon: 'tabler:arrow-right',
        class: 'bg-yellow-200 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded', // Add Tailwind CSS classes here
      },
    ]}
  </Hero>
  </div>
</div>
