---

import Features2 from '~/components/widgets/Features2.astro';
---

<div class="section-gradient py-16 md:py-24">
  <Features2
    id="adora-platform"
    tagline="基于开源的机器人平台"
    title="ADORA 机器人开发平台"
    subtitle="新一代可以通过学习自我进化的机器人"
    isDark={false}
    items={[
      {
        title: '持续学习与适应能力',
        description:
          'Adora机器人搭载具身人工智能，能够通过与环境互动以及用户直接教学不断进化。不同于传统工业机器人受限于严格的规则，Adora机器人可以动态适应并提升自身能力。',
        icon: 'carbon:machine-learning-model',
      },
      {
        title: '轻松任务训练',
        description:
          'Adora机器人配备直观的数据采集工具，可以轻松掌握用户演示的家庭任务，包括清洁、整理桌面、洗衣、拾取水果，甚至烹饪，让日常生活更加轻松。',
        icon: 'mdi:teaching',
      },
      {
        title: '多模态自然交互',
        description:
          'Adora机器人大脑具备视觉和语言输入理解能力，用户可以通过语言或视觉指令自然、轻松地与机器人互动，实现无缝沟通。',
        icon: 'mdi:account-voice',
      },
      {
        title: '社区驱动的快速提升',
        description:
          'Adora机器人连接活跃的社区，通过共享知识与经验形成集体“大脑”，实现所有机器人技能的快速提升，持续增强机器人的效能。',
        icon: 'raphael:people',
      },
      {
        title: '情感陪伴与定制化互动',
        description:
          '通过全双工、低延迟的自然对话，Adora机器人提供真实的情感陪伴。用户可个性化定制机器人的声音，使互动更为亲切、舒适，满足个性化需求。',
      icon: 'tabler:brand-open-source',

      },
      {
        title: '开源灵活性，适合极客与开发者',
        description:
          '基于强大的开源机器人操作系统Dora-rs构建，Adora机器人具备直观的数据流计算模型及Python接口。爱好者与开发者能够深度定制机器人功能，轻松集成个人模型与工作流，充分利用云端与本地计算能力。',
        icon: 'tabler:brand-hackerrank',
      },
    ]}
  />
</div>

