---

import Features2 from '~/components/widgets/Features2.astro';
---

<div class="section-gradient py-16 md:py-24">
  <Features2
    id="adora-platform"
    tagline="Powered by Open-Source"
    title="ADORA Robotics Development Platform"
    subtitle="A new generation of Robots who can learn from you"
    isDark={false}
    items={[
      {
        title: 'Continuous Learning and Adaptation',
        description:
          'Adora Robots are powered by embodied AI that continuously evolves by interacting with the environment and learning directly from users. Unlike traditional industrial robots constrained by strict, rule-based behaviors, Adora robots adapt and improve their capabilities dynamically.',
        icon: 'carbon:machine-learning-model',
      },
      {
        title: 'Effortless Task Training',
        description:
          'Featuring intuitive data collection tools, Adora robots can easily master household tasks demonstrated by users, including cleaning, organizing tables, doing laundry, handling fruits, and even cooking, making everyday life simpler.',
        icon: 'mdi:teaching',
      },
      {
        title: 'Multimodal Natural Interaction',
        description:
          'With a multimodal brain capable of understanding visual and language inputs, users can naturally and effortlessly instruct the robot through speech or visual cues, making interactions seamless and intuitive.',
        icon: 'mdi:account-voice',
      },
      {
        title: 'Community-Driven Rapid Improvement',
        description:
          'Adora robots connect to a vibrant community, sharing knowledge and experiences through collective "brains." This collaborative approach enables rapid skill improvement across all robots, enhancing their effectiveness quickly.',
        icon: 'raphael:people',
      },
      {
        title: 'Emotional Companionship and Customizable Interaction',
        description:
          "Providing full-duplex, low-latency natural conversations, Adora robots offer genuine emotional companionship. Users can personalize the robot's voice, making interactions feel familiar, comforting, and uniquely tailored to individual preferences.",
        icon: 'tabler:brand-open-source',
      },
      {
        title: 'Open-Source Flexibility for Hackers',
        description:
          'Built on the powerful open-source robot operating system, DORA, Adora robots feature an intuitive, dataflow-based computing model with a Python interface. This empowers hackers, hobbyists, and developers to deeply customize robot functionalities, integrating personal models and workflows seamlessly with both cloud and local processing capabilities.',
        icon: 'tabler:brand-hackerrank',
      },
    ]}
  />
</div>
