---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
//import StepsKippal from '~/components/widgets/StepsKippal.astro';
import Adora1Mini from '~/components/product/Adora1-Mini.astro';
import Adora1Pro from '~/components/product/Adora1-Pro.astro';
import Adora2Pro from '~/components/product/Adora2-Pro.astro';
import Adora2Max from '~/components/product/Adora2-Max.astro';
import Adora2Mini from '~/components/product/Adora2-Mini.astro';
import ProductFeatureCN from '~/components/product/ProductFeatureCN.astro';

// import ShadcnDemo from '~/components/ShadcnDemo.astro';
// import AnimataDemo from '~/components/AnimataDemo.astro';

// import Sponsors from '~/components/widgets/Sponsors.astro';
//import Brands from '~/components/widgets/Brands.astro';
//import Features2 from '~/components/widgets/Features2.astro';
//import Steps from '~/components/widgets/Steps.astro';
//import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
//import FAQs from '~/components/widgets/FAQs.astro';
//import Stats from '~/components/widgets/Stats.astro';
// import CallToAction from '~/components/widgets/CallToAction.astro';
//import Highlight from '~/components/Highlight.astro';

//import { getCollection } from 'astro:content';
//import { Picture } from 'astro:assets';
//import Container from '~/components/widgets/Container.astro';

// function getPrettyTrackName(track) {
//   const trackMap = {
//     'ai-infra': 'AI Infrastructure',
//     'ai-apps': 'AI Applications',
//     'ai-model': 'AI Models',
//     'embodied-ai': 'Embodied AI',
//     pytorch: 'PyTorch AI Day',
//   };

//   return trackMap[track] || track; // Return the mapped name or the original if no mapping exists
// }

const metadata = {
  title: 'KIPPAL Robotics',
  //description: 'KIPPAL Robotics is a collaborative open-source robot for home and business.',
  description: 'ADORA是一款用于家庭和商业的协作开源机器人',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->
  <Hero
    actions={[
      {
        variant: 'primary',
        text: '购买与合作',
        //text: 'Get Yours',
        href: '/#order',
        icon: 'tabler:arrow-right',
        class: 'bg-yellow-200 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded', // Add Tailwind CSS classes here
      },
    ]}
    bg={`
      <div class="absolute inset-0">
        <div class="w-full h-full bg-cover bg-center" style="background-image: url('/images/adora-head-page.png');"></div>
      </div>
    `}
  >
    <Fragment slot="title">
      <div class="mt-40">
        <span class="text-gray-50 text-6x md:text-7xl lg:text-8xl tracking-tight dark:text-white highlight">
          遇见你的机器人朋友</span
        >
      </div>
    </Fragment>

    <Fragment slot="subtitle">
      <div class="mt-40">
        <span class="hidden sm:inline text-2xl text-white">
          <!-- GOSIM Widget *******************
          <span class="font-semibold">ADORA</span> is an open-source robot project for home and business. <br />  -->
          <span class="font-semibold">ADORA</span> 是一款用于家庭和商业的开源机器人 <br />
        </span>
      </div>
    </Fragment>
  </Hero>

  <!-- GOSIM Widget ******************* -->
  <div id="adora2-Max">
    <Adora2Max />
  </div>
  <div id="adora2-pro">
    <Adora2Pro />
  </div>
  <div id="adora2-mini">
    <Adora2Mini />
  </div>
  <div id="adora1-pro">
    <Adora1Pro />
  </div>
  <div id="adora1-mini">
    <Adora1Mini />
  </div>


  <!-- <ShadcnDemo /> -->
  <!-- <AnimataDemo /> -->

  <!-- Stats Widget ****************** -->

  <!--   <Stats
    stats={[
      { title: 'Conference Tracks', amount: '5' },
      { title: 'Talks', amount: '50+' },
      { title: 'Demos', amount: '20+' },
      { title: 'Attendees', amount: '500+' },
    ]}
  /> -->

  <ProductFeatureCN />

  <BlogLatestPosts title="新闻中心" information={``} />

<!-- 
  <StepsKippal
    id="order"
    title="How to Order"
    subtitle="Contact us via email or via WeChat"
    items={[
      {
        title: 'Email us',
        description: 'info@xinxun-robot.com',
        icon: 'tabler:mail',
      },
      {
        title: 'WeChat us',
        description: 'ID: nhuang',
        icon: 'tabler:link',
      },
    ]}
  />
 /> -->

  <!--
  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  />
-->

  <!-- CallToAction Widget ***********

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Astro&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Tailwind CSS</span>
    </Fragment>

    <Fragment slot="subtitle">
      Be very surprised by these huge fake numbers you are seeing on this page. <br class="hidden md:inline" />Don't
      waste more time! :P
    </Fragment>
  </CallToAction>

  -->
</Layout>
