---
import { SITE } from 'astrowind:config';
import DORALogoWhite from '../assets/images/logo/adora-logo-white.svg';
import DORALogoBlack from '../assets/images/logo/adora-logo-black.svg';
import { Image } from 'astro:assets';
---

<div class="logo-wrapper">
  <Image
    format="avif"
    src={DORALogoWhite}
    alt={`${SITE.title}`}
    class="logo-asset logo-asset--default h-10 md:h-8 inline-block"
    width="100"
    height="50"
  />
  <Image
    format="avif"
    src={DORALogoBlack}
    alt={`${SITE.title}`}
    class="logo-asset logo-asset--dark h-10 md:h-8 inline-block"
    width="100"
    height="50"
  />
</div>
